.carousel .slide {
  text-align: left;
}
.slider {
  li {
    height: 588px;
    background: gray;
    position: relative;
    .slideContent {
      position: absolute;
      width: 100%;
    }
    .centerText {
      display: flex;
      align-items: center;
      .slideContent {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h1 {
          color: #ffffff;
          font-size: 65px;
          margin-bottom: 20px;
        }
      }
    }
    .sideContext {
      display: flex;
      align-items: center;
      h1 {
        margin-bottom: 5px;
        font-size: 60px;
      }
      h2 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 38px;
      }
      p {
        font-size: 20px;
        margin-bottom: 25px;
        margin-top: 0;
        text-transform: uppercase;
      }
    }
  }
}
