@import "../../variables.scss";

.nav {
  border-bottom: none;
  li {
    text-transform: uppercase;
    font-weight: bold;
  }
}
:where(.css-dev-only-do-not-override-1sn0ohr).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1sn0ohr).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1sn0ohr).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected,
:where(.css-dev-only-do-not-override-1sn0ohr).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected {
  color: $green-color;
}

:where(.css-dev-only-do-not-override-1sn0ohr).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-1sn0ohr).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-1sn0ohr).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected::after,
:where(.css-dev-only-do-not-override-1sn0ohr).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected::after {
  border-bottom-color: $green-color;
}
