@import "../../variables.scss";

.nav {
  border-bottom: none;
  li {
    text-transform: uppercase;
    font-weight: bold;
  }
}
.ant-menu.ant-menu-horizontal {
  .ant-menu-item-selected {
    color: $green-color;
  }
}

.ant-menu.ant-menu-horizontal {
  .ant-menu-item {
    &:hover:not(.ant-menu-item-selected) {
      color: $green-color;
      &::after {
        border-bottom-color: $green-color;
      }
    }
  }
  .ant-menu-item-selected {
    &::after {
      border-bottom-color: $green-color;
    }
    &:hover {
      &::after {
        border-bottom-color: $green-color;
      }
    }
  }
}
